services:
  backend:
    build:
      context: .
    networks:
      - private
    depends_on:
    - db
    
  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: whatsDown
      POSTGRES_PASSWORD: mango
      POSTGRES_DB: whatsDown
      PGDATA: /data/postgres
    volumes:
      - db:/data/postgres
    restart: unless-stopped
    networks:
      - private
    
volumes:
  db:

networks:
  public:
  private: